.dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
  z-index: 10002;
  background-color: rgba(31, 35, 40, 0.5);
}

.dialog.open {
  display: block;
}

.dialog .box {
  position: fixed;
  top: 0;
  left: 50%;
  width: 448px;
  max-height: 80vh;
  margin: 10vh auto;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #d0d7de;
  box-shadow: 0 0 18px rgba(0, 0, 0, .4);
  animation: fade-in 300ms ease-in-out;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.dialog .box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d0d7de;
}

.dialog .box-header .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px 0 16px 16px;
  font-weight: 600;
  font-size: 14px;
}

.dialog .box-header .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 53px;
  cursor: pointer;
  color: rgb(101, 109, 118);
}

.dialog .box-header svg {
  fill: currentColor;
}

.dialog .box-body {
  padding: 16px 16px 12px 16px;
  border-bottom: 1px solid #d0d7de;
  overflow: hidden;
  transition: height .2s ease;
}

.dialog .box-body.add {
  height: 431px;
}

.dialog .box-body.off {
  height: 96px;
}

.dialog .field {
  position: relative;
  margin-bottom: 10px;
}

.dialog .field.hidden {
  display: none;
}

.dialog .field .label {
  margin-bottom: 4px;
  color: #24292F;
  font-weight: 600;
  font-size: 14px;
}

.dialog .field input {
  width: 100%;
  padding: 5px 12px;
  color: rgb(31, 35, 40);
  font-size: 14px;
  line-height: 20px;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #D0D7DE;
  box-shadow:  inset 0 0 0 1px rgba(208, 215, 222, 0.2);
}

.dialog .field input.sheetid {
  padding: 5px 30px 5px 12px;
}

.dialog .field input.icon {
  padding: 5px 30px 5px 12px;
}

.dialog .field input:focus-visible {
  border-color: rgb(9, 105, 218);
  box-shadow: inset 0 0 0 1px rgb(9, 105, 218);
}

.dialog .field input[disabled] {
  border-color: #D0D7DE;
  background-color: rgba(175, 184, 193, 0.20);
}

.dialog .field select {
  width: 100%;
  height: 32px;
  padding: 5px 24px 5px 12px;
  color: rgb(31, 35, 40);
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 6px;
  border: 1px solid rgb(208, 215, 222);
  background-color: #fff;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzU4NjA2OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 16px;
  box-shadow: inset 0px 1px 0px 0px rgba(208, 215, 222, 0.2);
  appearance: none;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
}

.dialog .field select:focus-visible {
  border-color: rgb(9, 105, 218);
  box-shadow: inset 0 0 0 1px rgb(9, 105, 218);
}

.dialog .field select[disabled] {
  border-color: #D0D7DE;
  background-color: rgba(175, 184, 193, 0.20);
}

.dialog .field .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 28px;
  right: 3px;
  width: 24px;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
}

.dialog .field .link::before {
  position: absolute;
  content: '';
  top: 4px;
  left: -1px;
  width: 1px;
  height: 16px;
  background-color: rgb(208, 215, 222);
}

.dialog .field .link svg {
  width: 14px;
  height: 14px;
  fill: rgb(101, 109, 118);
}

.dialog .field .link[href]:hover {
  cursor: pointer;
  border-radius: 3px;
  background-color: rgba(208,215,222,0.32);
}

.dialog .field .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 28px;
  right: 3px;
  width: 24px;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dialog .field .icons.hidden {
  display: none;
}

.dialog .field .icons::before {
  position: absolute;
  content: '';
  top: 4px;
  left: -1px;
  width: 1px;
  height: 16px;
  background-color: rgb(208, 215, 222);
}

.dialog .field .icons svg {
  width: 14px;
  height: 14px;
  fill: rgb(101, 109, 118);
}

.dialog .field .icons:hover {
  cursor: pointer;
  border-radius: 3px;
  background-color: rgba(208,215,222,0.32);
}

.dialog .field .dropdown {
  position: absolute;
  width: 100%;
  max-height: 110px;
  top: 55px;
  left: 0;
  height: 0;
  z-index: 1;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(31, 35, 40, 0.12) 0px 1px 3px, rgba(66, 74, 83, 0.12) 0px 8px 24px;
  transition: all .2s ease;
  overflow-x: hidden;
}

.dialog .field .dropdown.show {
  height: auto;
  top: 60px;
}

.dialog .field .dropdown ul {
  padding: 8px 0;
}

.dialog .field .dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 8px;
  color: rgb(31, 35, 40);
  font-size: 14px;
  line-height: 20px;
  margin: 0 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 33.333ms linear 0s;
}

.dialog .field .dropdown li:hover {
  color: rgb(31, 35, 40);
  background-color: rgba(208, 215, 222, 0.32);
}

.dialog .field .dropdown .tick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 20px;
  min-width: 16px;
  margin-right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.dialog .field .dropdown .tick svg {
  display: none;
  width: 16px;
  height: 16px;
  fill: rgb(31, 35, 40);
}

.dialog .field .dropdown .tick.active svg {
  display: block;
}

.dialog .field .dropdown .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin-right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.dialog .field .dropdown .icon img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  vertical-align: middle;
}

.dialog .field .dropdown .text {
  font-size: 14px;
  line-height: 20px;
  color: rgb(31, 35, 40);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}

.dialog .box-footer {
  padding: 16px;
}

.dialog .box-footer button {
  width: 100%;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  background-color: #2DA44E;
  border: 1px solid rgba(27, 31, 36, 0.15);
  box-shadow: 0px 1px 0px 0px rgba(27, 31, 35, 0.10);
}

.dialog .box-footer button:hover {
  cursor: pointer;
  background-color: #2c974b;
}

.dialog .box-footer button:active {
  box-shadow: 0px 1px 0px 0px rgba(20, 70, 32, 0.20) inset;
}

.dialog .box-footer button[disabled] {
  cursor: default;
  color: rgba(255, 255, 255, 0.80);
  background-color: #94D3A2;
  box-shadow: 0px 1px 0px 0px rgba(27, 31, 35, 0.10);
}

#message {
  position: absolute;
  z-index: 10003;
}
