main {
  padding: 105px 94px 0;
}

@media (max-width: 600px) {
  main {
    padding: 105px 60px 0;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 614px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 69px;
  padding: 0 12px 0 15px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #EAEAEA;
}

.search .icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.search input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.links {
  padding-bottom: 40px;
}

.links h3 {
  padding-bottom: 24px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.links ul {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  padding-bottom: 24px;
}

.links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 112px;
  padding: 16px 16px 24px 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #FFF;
  border: 1px solid #EAEAEA;
  transition: box-shadow .2s ease;
  content-visibility: auto;
}

.links ul li:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}

.links .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.links .logo {
  width: 44px;
  height: 44px;
  max-width: 44px;
  max-height: 44px;
  min-width: 44px;
  min-height: 44px;
  margin-right: 16px;
}

.links .logo img {
  width: 100%;
  height: 100%;
}

.links .logo.round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 22px;
  border: 1px solid #EAEAEA;
}

.links .logo.round img {
  width: 76.22%;
  height: 76.22%;
}

.links .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links .info .name {
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.links .info .link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.links .description {
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
